In [1]:
%matplotlib notebook
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

dtype_dict = {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int}

house = pd.read_csv('kc_house_data.csv', dtype = dtype_dict)
house_train = pd.read_csv('kc_house_train_data.csv', dtype = dtype_dict)
house_test = pd.read_csv('kc_house_test_data.csv', dtype = dtype_dict)

house.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [2]:
house_train.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180.0,5650,1,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340.0,5650.0
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570.0,7242,2,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690.0,7639.0
2,5631500400,20150225T000000,180000.0,2.0,1.00,770.0,10000,1,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720.0,8062.0
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960.0,5000,1,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360.0,5000.0
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680.0,8080,1,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800.0,7503.0

In [3]:
house_test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780.0,12697.0
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140.0,4000.0
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030.0,4705.0
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580.0,3980.0
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570.0,5080.0

Next write a function that takes a data set, a list of features (e.g. [â€˜sqft_livingâ€™, â€˜bedroomsâ€™]), to be used as inputs, and a name of the output (e.g. â€˜priceâ€™). This function should return a features_matrix (2D array) consisting of first a column of ones followed by columns containing the values of the input features in the data set in the same order as the input list. It should also return an output_array which is an array of the values of the output in the data set (e.g. â€˜priceâ€™).

In [4]:
def get_numpy_data(data_frame, features, output):
    data_frame['constant'] = 1 # add a constant column to an DataFrame
    # prepend variable 'constant' to the features list
    features = ['constant'] + features

    features_dataframe = data_frame[features]

    features_matrix = features_dataframe.as_matrix()
 
    output_dataframe = data_frame[output]
    output_array = output_dataframe.as_matrix()

    return(features_matrix, output_array)

If the features matrix (including a column of 1s for the constant) is stored as a 2D array (or matrix) and the regression weights are stored as a 1D array then the predicted output is just the dot product between the features matrix and the weights (with the weights on the right). Write a function â€˜predict_outputâ€™ which accepts a 2D array â€˜feature_matrixâ€™ and a 1D array â€˜weightsâ€™ and returns a 1D array â€˜predictionsâ€™. e.g. in python:

In [5]:
def predict_outcome(feature_matrix, weights):
    predictions = np.dot(feature_matrix, weights)
    return(predictions)

 If we have a the values of a single input feature in an array â€˜featureâ€™ and the prediction â€˜errorsâ€™ (predictions - output) then the derivative of the regression cost function with respect to the weight of â€˜featureâ€™ is just twice the dot product between â€˜featureâ€™ and â€˜errorsâ€™. Write a function that accepts a â€˜featureâ€™ array and â€˜errorâ€™ array and returns the â€˜derivativeâ€™ (a single number). e.g. in python:

In [6]:
def feature_derivative(errors, feature):
    derivative = 2 * np.dot(feature, errors)
    return(derivative)

Now we will use our predict_output and feature_derivative to write a gradient descent function. Although we can compute the derivative for all the features simultaneously (the gradient) we will explicitly loop over the features individually for simplicity. Write a gradient descent function that does the following:

* Accepts a numpy feature_matrix 2D array, a 1D output array, an array of initial weights, a step size and a convergence tolerance.
* While not converged updates each feature weight by subtracting the step size times the derivative for that feature given the current weights
* At each step computes the magnitude/length of the gradient (square root of the sum of squared components)
* When the magnitude of the gradient is smaller than the input tolerance returns the final weight vector.

In [7]:
from scipy import sqrt
def regression_gradient_descent(feature_matrix, output, initial_weights, step_size, tolerance):
    converged = False
    weights = np.array(initial_weights)
    while not converged:
        # compute the predictions based on feature_matrix and weights:
        predictions = predict_outcome(feature_matrix, weights)
        # compute the errors as predictions - output:
        errors = predictions - output
        
        gradient_sum_squares = 0 # initialize the gradient
        # while not converged, update each weight individually:
        for i in range(len(weights)):
            # Recall that feature_matrix[:, i] is the feature column associated with weights[i]
            # compute the derivative for weight[i]:
            derivative = feature_derivative(errors, feature_matrix[:,i])
            
            # add the squared derivative to the gradient magnitude
            gradient_sum_squares += derivative ** 2
            
            # update the weight based on step size and derivative:
            weights[i] -= step_size * derivative
            
        gradient_magnitude = sqrt(gradient_sum_squares)
        if gradient_magnitude < tolerance:
            converged = True
    return(weights)

   * features: â€˜sqft_livingâ€™
   * output: â€˜priceâ€™
   * initial weights: -47000, 1 (intercept, sqft_living respectively)
   * step_size = 7e-12
   * tolerance = 2.5e7

In [8]:
simple_features = ['sqft_living']
my_output= 'price'
(simple_feature_matrix, output) = get_numpy_data(house_train, simple_features, my_output)
initial_weights = np.array([-47000., 1.])
step_size = 7e-12
tolerance = 2.5e7

simple_weights = regression_gradient_descent(simple_feature_matrix, output,initial_weights, step_size, tolerance)

# Question 1
What is the value of the weight for sqft_living from your gradient descent predicting house prices (model 1)? Round your answer to 1 decimal place.

In [9]:
simple_weights[1]

281.91211917520917

# Question 2
What is the predicted price for the 1st house in the TEST data set for model 1 (round to nearest dollar)?

In [10]:
sqft_1sthouse = house_test['sqft_living'][0]
prediction_1sthouse = predict_outcome(np.array([1,sqft_1sthouse]),simple_weights) 
prediction_1sthouse

356134.44325500238

In [11]:
(test_simple_feature_matrix, test_output) = get_numpy_data(house_test, simple_features, my_output)

test_predictions = predict_outcome(test_simple_feature_matrix, simple_weights)

test_predictions[0]

356134.44325500238

# Question 3
What is the predicted price for the 1st house in the TEST data set for model 2 (round to nearest dollar)?

In [12]:
model_2_features = ['sqft_living', 'sqft_living15']
my_output = 'price'
(model_2_feature_matrix, model_2_output) = get_numpy_data(house_train, model_2_features,my_output)
initial_weights_model_2 = np.array([-100000., 1., 1.])
step_size_model_2 = 4e-12
tolerance_model_2 = 1e9

model_2_weights = regression_gradient_descent(model_2_feature_matrix, model_2_output,initial_weights_model_2, step_size_model_2, tolerance_model_2)

In [13]:
sqft_living15_1sthouse = house_test['sqft_living15'][0]
prediction_1sthouse_model_2 = predict_outcome(np.array([1, sqft_1sthouse, sqft_living15_1sthouse]), model_2_weights) 
prediction_1sthouse_model_2

366651.41162949387

# Question 4
Which estimate was closer to the true price for the 1st house on the TEST data set, model 1 or model 2?

In [14]:
print('True price: ', house_test['price'][0])
print('Model 1 price: ', prediction_1sthouse)
print('Model 2 price: ', prediction_1sthouse_model_2)

True price:  310000.0
Model 1 price:  356134.443255
Model 2 price:  366651.411629

# Question 5
Which model (1 or 2) has lowest RSS on all of the TEST data?

In [15]:
(test_model_1_feature_matrix, test_output) = get_numpy_data(house_test, simple_features, my_output)
(test_model_2_feature_matrix, test_output) = get_numpy_data(house_test, model_2_features, my_output)

prediction_model_1 = predict_outcome(test_model_1_feature_matrix, simple_weights)
prediction_model_2 = predict_outcome(test_model_2_feature_matrix, model_2_weights)

test_RSS_model_1 = np.sum((test_output - prediction_model_1) ** 2)
print("Model 1 RSS: ", test_RSS_model_1)
test_RSS_model_2 = np.sum((test_output - prediction_model_2) ** 2)
print("Model 2 RSS: ", test_RSS_model_2)

Model 1 RSS:  2.75400044902e+14
Model 2 RSS:  2.7026344363e+14

In [16]:
test_RSS_gradient_model_1 = -2 * np.dot(test_model_1_feature_matrix.transpose(), (test_output - prediction_model_1))
test_RSS_gradient_model_2 = -2 * np.dot(test_model_2_feature_matrix.transpose(), (test_output - prediction_model_2))

print("Model 1 RSS gradient: ", test_RSS_gradient_model_1)

print("Model 2 RSS gradient: ", test_RSS_gradient_model_2)

Model 1 RSS gradient:  [ -3.26087663e+07  -1.94616392e+10]
Model 2 RSS gradient:  [ -3.06813764e+07  -1.31844941e+10  -5.64185387e+10]