In [1]:
import pandas as pd
import numpy as np

loans = pd.read_csv('lending-club-data.csv')
loans.head()

/home/qiangwennorge/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1.0,1.0,1.0,0,8.14350,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,1.0,0,8.25955,20141201T000000,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,0.2,1.0,1.0,1.0,0,8.27585,20141201T000000,0,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,0.8,1.0,1.0,1.0,0,5.21533,20141201T000000,1,1,1

In [2]:
loans['safe_loans'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)
loans = loans.drop(['bad_loans'], axis = 1)

In [3]:
features = ['grade',              # grade of the loan
            'term',               # the term of the loan
            'home_ownership',     # home_ownership status: own, mortgage or rent
            'emp_length',         # number of years of employment
           ]
target = 'safe_loans'

In [4]:
import json

train_idx = json.loads(open('module-5-assignment-2-train-idx.json').read())
test_idx = json.loads(open('module-5-assignment-2-test-idx.json').read())

train_data = loans.iloc[train_idx]
test_data = loans.iloc[test_idx]
train_data.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none,safe_loans
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1,-1
6,1071795,1306957,5600,5600,5600,60 months,21.28,152.39,F,F2,...,1.0,1.0,1.0,0,4.57170,20161201T000000,1,1,1,-1
7,1071570,1306721,5375,5375,5350,60 months,12.69,121.45,B,B5,...,1.0,1.0,1.0,1,9.71600,20161201T000000,1,1,1,-1
10,1064687,1298717,9000,9000,9000,36 months,13.49,305.38,C,C1,...,1.0,1.0,1.0,1,12.21520,20141201T000000,1,1,1,-1
12,1069057,1303503,10000,10000,10000,36 months,10.65,325.74,B,B2,...,1.0,1.0,1.0,0,3.90888,20141201T000000,1,1,1,-1

### Subsample dataset to make sure classes are balanced

Just as we did in the previous assignment, we will undersample the larger class (safe loans) in order to balance out our dataset. This means we are throwing away many data points. You should have code analogous to

In [5]:
safe_loans_raw = loans[loans[target] == 1]
risky_loans_raw = loans[loans[target] == -1]

# Since there are less risky loans than safe loans, find the ratio of the sizes
# and use that percentage to undersample the safe loans.
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))
safe_loans = safe_loans_raw.sample(frac = percentage, random_state = 1)
risky_loans = risky_loans_raw
loans_data = risky_loans.append(safe_loans)

print("Percentage of safe loans                 :", len(safe_loans) / float(len(loans_data)))
print("Percentage of risky loans                :", len(risky_loans) / float(len(loans_data)))
print("Total number of loans in our new dataset :", len(loans_data))

Percentage of safe loans                 : 0.5
Percentage of risky loans                : 0.5
Total number of loans in our new dataset : 46300

### Transform categorical data into binary features

In this assignment, we will implement binary decision trees (decision trees for binary features, a specific case of categorical variables taking on two values, e.g., true/false). Since all of our features are currently categorical features, we want to turn them into binary features.

For instance, the home_ownership feature represents the home ownership status of the loanee, which is either own, mortgage or rent. For example, if a data point has the feature

In [6]:
grade_val = list(loans_data['grade'].unique())
len(grade_val)

7

In [7]:
term_val = list(loans_data['term'].unique())
len(term_val)

2

In [8]:
home_ownership_val = list(loans_data['home_ownership'].unique())
len(home_ownership_val)

4

In [9]:
emp_length_val = list(loans_data['emp_length'].unique())
len(emp_length_val)

12

In [39]:
for feature in features:
    loans_data_one_hot_encoded = loans_data[feature].apply(lambda x: {x: 1})    
    loans_data_unpacked = pd.DataFrame(list(loans_data_one_hot_encoded)).fillna(0)   
    

    loans_data_new = loans_data_unpacked
    #loans_data.add_columns(loans_data_unpacked)

#loans_data_unpacked
loans_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none,safe_loans
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1,-1
6,1071795,1306957,5600,5600,5600,60 months,21.28,152.39,F,F2,...,1.0,1.0,1.0,0,4.57170,20161201T000000,1,1,1,-1
7,1071570,1306721,5375,5375,5350,60 months,12.69,121.45,B,B5,...,1.0,1.0,1.0,1,9.71600,20161201T000000,1,1,1,-1
10,1064687,1298717,9000,9000,9000,36 months,13.49,305.38,C,C1,...,1.0,1.0,1.0,1,12.21520,20141201T000000,1,1,1,-1
12,1069057,1303503,10000,10000,10000,36 months,10.65,325.74,B,B2,...,1.0,1.0,1.0,0,3.90888,20141201T000000,1,1,1,-1
18,1039153,1269083,21000,21000,21000,36 months,12.42,701.73,B,B4,...,1.0,1.0,1.0,0,8.01977,20141201T000000,1,1,1,-1
21,1069559,1304634,6000,6000,6000,36 months,11.71,198.46,B,B3,...,1.0,1.0,1.0,0,3.13358,20141201T000000,1,1,1,-1
23,1069800,1304679,15000,15000,8725,36 months,14.27,514.64,C,C2,...,1.0,1.0,1.0,0,10.29280,20141201T000000,1,1,1,-1
24,1069657,1304764,5000,5000,5000,60 months,16.77,123.65,D,D2,...,0.0,1.0,1.0,0,2.96736,20161201T000000,0,1,1,-1
41,1069465,1304521,5000,5000,5000,36 months,8.90,158.77,A,A5,...,1.0,1.0,1.0,0,1.90524,20141201T000000,1,1,1,-1
45,1069248,1304123,15000,15000,15000,36 months,9.91,483.38,B,B1,...,1.0,1.0,1.0,0,7.25070,20141201T000000,1,1,1,-1
48,1069243,1304116,12000,12000,12000,36 months,15.96,421.65,C,C5,...,1.0,1.0,1.0,0,10.11960,20141201T000000,1,1,1,-1
50,1069410,1303652,21000,21000,20975,60 months,19.91,555.33,E,E4,...,1.0,1.0,1.0,0,13.32790,20161201T000000,1,1,1,-1
58,1069093,1303740,12500,8925,8925,60 months,17.27,223.11,D,D3,...,1.0,0.0,1.0,0,8.92440,20161201T000000,1,0,1,-1
60,1068906,1303528,8200,8200,8200,60 months,21.28,223.14,F,F2,...,1.0,1.0,1.0,0,3.57024,20161201T000000,1,1,1,-1
63,1060981,1292558,6400,6400,6400,36 months,16.77,227.45,D,D2,...,1.0,1.0,1.0,0,3.63920,20141201T000000,0,1,1,-1
87,1068542,1303143,17500,17500,17500,60 months,17.27,437.47,D,D3,...,1.0,1.0,1.0,0,11.66590,20161201T000000,1,1,1,-1
89,1068509,1302907,6200,6200,6200,36 months,9.91,199.80,B,B1,...,1.0,1.0,1.0,0,9.59040,20141201T000000,1,1,1,-1
93,1068309,1302924,18825,18825,18800,60 months,16.77,465.53,D,D2,...,1.0,1.0,1.0,0,14.70090,20161201T000000,1,1,1,-1
102,1068012,1302365,10000,10000,10000,36 months,18.25,362.78,D,D5,...,1.0,1.0,1.0,0,5.80448,20141201T000000,0,1,1,-1
108,1068006,1302360,19750,19750,19725,36 months,10.65,643.33,B,B2,...,1.0,1.0,1.0,0,17.15550,20141201T000000,0,1,1,-1
111,1068179,1302564,28000,11800,11775,60 months,19.91,312.04,E,E4,...,1.0,1.0,1.0,0,7.20092,20161201T000000,1,1,1,-1
118,1066215,1300572,24000,24000,24000,36 months,15.96,843.30,C,C5,...,1.0,1.0,1.0,0,11.24400,20141201T000000,1,1,1,-1
124,1068111,1302472,11100,11100,11100,36 months,6.62,340.82,A,A2,...,1.0,1.0,1.0,0,9.97522,20141201T000000,1,1,1,-1
132,1068091,1302450,12000,12000,12000,36 months,9.91,386.70,B,B1,...,1.0,1.0,1.0,0,11.04860,20141201T000000,1,1,1,-1
136,1067794,1302151,10000,10000,10000,36 months,11.71,330.76,B,B3,...,1.0,1.0,1.0,0,6.61520,20141201T000000,1,1,1,-1
138,1068018,1302371,13475,13475,13450,60 months,13.49,309.99,C,C1,...,1.0,1.0,1.0,0,14.87950,20161201T000000,1,1,1,-1
140,1067818,1247741,5600,5600,5600,36 months,14.65,193.17,C,C3,...,0.0,1.0,1.0,0,2.72711,20141201T000000,0,1,1,-1
151,1067644,1302032,2500,2500,2500,36 months,7.51,77.78,A,A3,...,1.0,1.0,1.0,1,7.77800,20141201T000000,1,1,1,-1
158,1067364,1301744,10000,10000,10000,36 months,13.49,339.31,C,C1,...,0.0,1.0,1.0,0,6.26418,20141201T000000,0,1,1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55027,5650731,7033202,7000,7000,6950,36 months,13.05,236.03,B,B5,...,1.0,0.0,1.0,0,4.88338,20160701T000000,0,0,1,1
100438,1164656,1405508,20000,20000,20000,36 months,13.99,683.46,C,C1,...,1.0,1.0,1.0,0,7.45593,20150301T000000,1,1,1,1
122519,10128829,11980496,6250,6250,6250,36 months,19.22,229.80,D,D4,...,1.0,1.0,1.0,1,17.13650,20170101T000000,1,1,1,1
4161,995574,1220153,26375,26375,26125,36 months,9.91,849.94,B,B1,...,1.0,1.0,1.0,0,9.71360,20141001T000000,1,1,1,1
13520,741967,939968,20000,20000,20000,60 months,15.23,478.22,C,C5,...,1.0,1.0,1.0,0,9.48473,20160501T000000,1,1,1,1
51558,6710248,8312570,6350,6350,6350,36 months,15.88,222.88,C,C4,...,1.0,1.0,1.0,0,3.56608,20160801T000000,1,1,1,1
110837,18505347,20668017,3500,3500,3500,36 months,6.49,107.26,A,A2,...,1.0,1.0,1.0,0,1.34075,20170601T000000,1,1,1,1
83788,1588971,1858426,9000,9000,9000,36 months,15.31,313.36,C,C2,...,1.0,1.0,1.0,1,13.92710,20151001T000000,1,1,1,1
6556,876782,1091465,2000,2000,2000,36 months,15.62,69.94,D,D1,...,1.0,1.0,1.0,0,1.61400,20140901T000000,1,1,1,1
106731,27089719,29592780,14400,14400,14400,60 months,8.39,294.68,A,A5,...,1.0,1.0,1.0,0,3.53616,20191001T000000,1,1,1,1
111533,17433085,19555623,15600,15600,15475,36 months,10.15,504.47,B,B2,...,0.0,1.0,1.0,0,6.30588,20170501T000000,0,1,0,1
115626,12667225,14669358,24125,24125,24125,60 months,15.61,581.69,C,C5,...,1.0,1.0,1.0,1,12.69140,20190301T000000,1,1,1,1
121848,10132968,11984227,13000,13000,13000,60 months,14.47,305.67,C,C2,...,0.0,0.0,1.0,0,5.64314,20190101T000000,0,0,1,1
108846,21370225,23683133,30000,30000,30000,60 months,13.98,697.74,C,C3,...,1.0,1.0,1.0,0,5.98063,20190701T000000,1,1,1,1
111652,17253120,19385644,7200,7200,7200,36 months,14.99,249.56,C,C5,...,1.0,0.0,1.0,0,6.96447,20170501T000000,1,0,1,1
74640,3158835,3871263,23800,23800,23800,36 months,6.03,724.37,A,A1,...,1.0,1.0,1.0,0,9.87777,20160101T000000,1,1,1,1
90254,1436540,1688110,4800,4800,4800,36 months,11.14,157.47,B,B2,...,0.0,1.0,1.0,0,3.77928,20150801T000000,0,1,1,1
73781,3215371,3957594,19000,19000,18975,36 months,15.80,666.11,C,C3,...,0.0,1.0,1.0,0,13.32220,20160101T000000,0,1,1,1
46499,7694841,9396983,7000,7000,7000,36 months,12.99,235.83,B,B4,...,0.0,1.0,1.0,0,3.77328,20161001T000000,0,1,0,1
6011,887173,1103203,4800,4800,4550,36 months,10.65,156.36,B,B2,...,0.0,0.0,1.0,0,2.60600,20140901T000000,0,0,1,1
92462,1387073,1633053,9000,9000,9000,36 months,14.33,309.05,C,C1,...,1.0,1.0,1.0,0,8.42864,20150701T000000,1,1,1,1
122138,9807512,11659397,20500,20500,20500,60 months,16.24,501.14,C,C5,...,1.0,0.0,1.0,0,7.12918,20190101T000000,1,0,0,1
98381,1223273,1464163,10800,10800,10800,36 months,13.67,367.39,B,B5,...,1.0,1.0,1.0,1,10.49690,20150401T000000,1,1,1,1
104878,1078321,1314958,6000,6000,6000,36 months,13.49,203.59,C,C1,...,1.0,1.0,1.0,0,1.08581,20150101T000000,1,1,1,1
38265,10109282,11960883,35000,35000,35000,60 months,14.98,832.29,C,C3,...,1.0,1.0,1.0,0,10.73920,20181201T000000,1,1,1,1
10016,808056,1014698,1775,1775,1775,36 months,7.49,55.21,A,A4,...,1.0,0.0,1.0,0,1.20458,20140701T000000,1,0,1,1
58367,5790590,7222513,6000,6000,6000,36 months,10.16,194.06,B,B1,...,1.0,1.0,1.0,0,6.12821,20160601T000000,1,1,1,1
90431,1431918,1683248,6000,6000,6000,36 months,10.16,194.06,B,B1,...,1.0,1.0,1.0,0,11.64360,20150801T000000,1,1,1,1
115727,13127242,15149422,14975,14975,14975,60 months,25.57,444.56,F,F5,...,1.0,1.0,1.0,0,10.66940,20190401T000000,0,1,0,1
105752,34282647,36945959,20400,20400,20400,60 months,17.86,516.48,D,D5,...,1.0,1.0,1.0,0,5.58357,20191101T000000,0,1,1,1