### Load the Lending Club dataset

We will be using a dataset from the LendingClub.

In [1]:
import pandas as pd
import numpy as np

loans = pd.read_csv('lending-club-data.csv')
loans.head()

/home/qiangwennorge/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (19,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sub_grade_num,delinq_2yrs_zero,pub_rec_zero,collections_12_mths_zero,short_emp,payment_inc_ratio,final_d,last_delinq_none,last_record_none,last_major_derog_none
0,1077501,1296599,5000,5000,4975,36 months,10.65,162.87,B,B2,...,0.4,1.0,1.0,1.0,0,8.14350,20141201T000000,1,1,1
1,1077430,1314167,2500,2500,2500,60 months,15.27,59.83,C,C4,...,0.8,1.0,1.0,1.0,1,2.39320,20161201T000000,1,1,1
2,1077175,1313524,2400,2400,2400,36 months,15.96,84.33,C,C5,...,1.0,1.0,1.0,1.0,0,8.25955,20141201T000000,1,1,1
3,1076863,1277178,10000,10000,10000,36 months,13.49,339.31,C,C1,...,0.2,1.0,1.0,1.0,0,8.27585,20141201T000000,0,1,1
4,1075269,1311441,5000,5000,5000,36 months,7.90,156.46,A,A4,...,0.8,1.0,1.0,1.0,0,5.21533,20141201T000000,1,1,1

### Exploring some features

Let's quickly explore what the dataset looks like. First, print out the column names to see what features we have in this dataset.

In [5]:
loans.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'is_inc_v', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc',
       'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'not_compliant', 'status', 'inactive_loans',
       'bad_loans', 'emp_length_num', 'grade_num', 'sub_grade_num',
       'delinq_2yrs_zero', 'pub_rec_zero', 'collections_12_mths_zero',
       'short_emp', 'payment_inc_ratio', 'final_d', 'last_delinq_none',
       'last_record_none', 'last_major_derog_none'], dtype=object)

### Exploring the target column

The target column (label column) of the dataset that we are interested in is called bad_loans. In this column 1 means a risky (bad) loan 0 means a safe loan.

In order to make this more intuitive and consistent with the lectures, we reassign the target to be:

 *   +1 as a safe loan
 *   -1 as a risky (bad) loan

We put this in a new column called safe_loans.

In [8]:
# safe_loans =  1 => safe
# safe_loans = -1 => risky
loans['safe_loans'] = loans['bad_loans'].apply(lambda x : +1 if x==0 else -1)
loans = loans.drop('bad_loans', axis = 1)

In [9]:
loans.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'is_inc_v', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc',
       'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'not_compliant', 'status', 'inactive_loans',
       'emp_length_num', 'grade_num', 'sub_grade_num', 'delinq_2yrs_zero',
       'pub_rec_zero', 'collections_12_mths_zero', 'short_emp',
       'payment_inc_ratio', 'final_d', 'last_delinq_none',
       'last_record_none', 'last_major_derog_none', 'safe_loans'], dtype=object)

Now, let us explore the distribution of the column safe_loans. This gives us a sense of how many safe and risky loans are present in the dataset. Print out the percentage of safe loans and risky loans in the data frame.

You should have:

 *   Around 81% safe loans
 *   Around 19% risky loans

It looks like most of these loans are safe loans (thankfully). But this does make our problem of identifying risky loans challenging.

In [13]:
num_safe_loans = loans[loans['safe_loans'] == +1].shape[0]
num_risky_loans = loans[loans['safe_loans'] == -1].shape[0]
num_total_loans = loans.shape[0]

In [15]:
print("the percentage of safe loans: ", num_safe_loans / num_total_loans * 1.0)
print("the percentage of risky loans: ", num_risky_loans / num_total_loans * 1.0)

the percentage of safe loans:  0.8111853319957262
the percentage of risky loans:  0.18881466800427382

### Features for the classification algorithm

In this assignment, we will be using a subset of features (categorical and numeric). The features we will be using are described in the code comments below. If you are a finance geek, the LendingClub website has a lot more details about these features. Extract these feature columns and target column from the dataset. We will only use these features.

In [16]:
features = ['grade',                     # grade of the loan
            'sub_grade',                 # sub-grade of the loan
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'term',                      # the term of the loan
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'revol_util',                # percent of available credit being used
            'total_rec_late_fee',        # total late fees received to day
           ]

target = 'safe_loans'                    # prediction target (y) (+1 means safe, -1 is risky)

# Extract the feature columns and target column
loans = loans[features + [target]]

In [17]:
loans.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
0,B,B2,0,11,RENT,27.65,credit_card,36 months,1,1,83.7,0.00,1
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.00,-1
2,C,C5,0,11,RENT,8.72,small_business,36 months,1,1,98.5,0.00,1
3,C,C1,0,11,RENT,20.00,other,36 months,0,1,21.0,16.97,1
4,A,A4,0,4,RENT,11.20,wedding,36 months,1,1,28.3,0.00,1

Then follow the following steps:

  *  Apply one-hot encoding to loans. Your tool may have a function for one-hot encoding. Alternatively, see #7 for implementation hints.
  *  Load the JSON files into the lists train_idx and validation_idx.
  *  Perform train/validation split using train_idx and validation_idx. In Pandas, for instance:

In [24]:
import json

train_idx = json.loads(open('module-5-assignment-1-train-idx.json').read())
validation_idx = json.loads(open('module-5-assignment-1-validation-idx.json').read())

train_data = loans.iloc[train_idx]
validation_idx = loans.iloc[validation_idx]
train_data.head()

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.0,-1
6,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.6,0.0,-1
7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.0,-1
10,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.7,0.0,-1
12,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.5,0.0,-1

### Sample data to balance classes

As we explored above, our data is disproportionally full of safe loans. Let's create two datasets: one with just the safe loans (safe_loans_raw) and one with just the risky loans (risky_loans_raw).

In [25]:
safe_loans_raw = loans[loans[target] == +1]
risky_loans_raw = loans[loans[target] == -1]
print("Number of safe loans  : %s" % len(safe_loans_raw))
print("Number of risky loans : %s" % len(risky_loans_raw))

Number of safe loans  : 99457
Number of risky loans : 23150

One way to combat class imbalance is to undersample the larger class until the class distribution is approximately half and half. Here, we will undersample the larger class (safe loans) in order to balance out our dataset. This means we are throwing away many data points. We used seed=1 so everyone gets the same results.

In [31]:
# Since there are fewer risky loans than safe loans, find the ratio of the sizes
# and use that percentage to undersample the safe loans.
percentage = len(risky_loans_raw)/float(len(safe_loans_raw))

risky_loans = risky_loans_raw
safe_loans = safe_loans_raw.sample(frac = percentage, random_state = 1)

# Append the risky_loans with the downsampled version of safe_loans
loans_data = risky_loans.append(safe_loans)

In [32]:
print("number of risky loans: ", len(risky_loans))
print("number of safe loans:  ", len(safe_loans))

number of risky loans:  23150
number of safe loans:   23150

### One-hot encoding

For scikit-learn's decision tree implementation, it requires numerical values for it's data matrix. This means you will have to turn categorical variables into binary features via one-hot encoding. The next assignment has more details about this.

In [41]:
categorical_variables = []
for feat_name, feat_type in zip(loans_data.columns.values, loans_data.dtypes):
    if feat_type == object:
        categorical_variables.append(feat_name)

for feature in categorical_variables:
    loans_data_one_hot_encoded = loans_data[feature].apply(lambda x: {x: 1})
    print(loans_data_one_hot_encoded)
    '''
    loans_data_unpacked = loans_data_one_hot_encoded.unpack(column_name_prefix=feature)

    # Change None's to 0's
    for column in loans_data_unpacked.column_names():
        loans_data_unpacked[column] = loans_data_unpacked[column].fillna(0)

    loans_data.remove_column(feature)
    loans_data.add_columns(loans_data_unpacked)
    '''

['grade', 'sub_grade', 'home_ownership', 'purpose', 'term']
1         {'C': 1}
6         {'F': 1}
7         {'B': 1}
10        {'C': 1}
12        {'B': 1}
18        {'B': 1}
21        {'B': 1}
23        {'C': 1}
24        {'D': 1}
41        {'A': 1}
45        {'B': 1}
48        {'C': 1}
50        {'E': 1}
58        {'D': 1}
60        {'F': 1}
63        {'D': 1}
87        {'D': 1}
89        {'B': 1}
93        {'D': 1}
102       {'D': 1}
108       {'B': 1}
111       {'E': 1}
118       {'C': 1}
124       {'A': 1}
132       {'B': 1}
136       {'B': 1}
138       {'C': 1}
140       {'C': 1}
151       {'A': 1}
158       {'C': 1}
            ...
55027     {'B': 1}
100438    {'C': 1}
122519    {'D': 1}
4161      {'B': 1}
13520     {'C': 1}
51558     {'C': 1}
110837    {'A': 1}
83788     {'C': 1}
6556      {'D': 1}
106731    {'A': 1}
111533    {'B': 1}
115626    {'C': 1}
121848    {'C': 1}
108846    {'C': 1}
111652    {'C': 1}
74640     {'A': 1}
90254     {'B': 1}
73781     {'C': 1}
46499     {'B': 1}
6011      {'B': 1}
92462     {'C': 1}
122138    {'C': 1}
98381     {'B': 1}
104878    {'C': 1}
38265     {'C': 1}
10016     {'A': 1}
58367     {'B': 1}
90431     {'B': 1}
115727    {'F': 1}
105752    {'D': 1}
Name: grade, Length: 46300, dtype: object
1         {'C4': 1}
6         {'F2': 1}
7         {'B5': 1}
10        {'C1': 1}
12        {'B2': 1}
18        {'B4': 1}
21        {'B3': 1}
23        {'C2': 1}
24        {'D2': 1}
41        {'A5': 1}
45        {'B1': 1}
48        {'C5': 1}
50        {'E4': 1}
58        {'D3': 1}
60        {'F2': 1}
63        {'D2': 1}
87        {'D3': 1}
89        {'B1': 1}
93        {'D2': 1}
102       {'D5': 1}
108       {'B2': 1}
111       {'E4': 1}
118       {'C5': 1}
124       {'A2': 1}
132       {'B1': 1}
136       {'B3': 1}
138       {'C1': 1}
140       {'C3': 1}
151       {'A3': 1}
158       {'C1': 1}
            ...
55027     {'B5': 1}
100438    {'C1': 1}
122519    {'D4': 1}
4161      {'B1': 1}
13520     {'C5': 1}
51558     {'C4': 1}
110837    {'A2': 1}
83788     {'C2': 1}
6556      {'D1': 1}
106731    {'A5': 1}
111533    {'B2': 1}
115626    {'C5': 1}
121848    {'C2': 1}
108846    {'C3': 1}
111652    {'C5': 1}
74640     {'A1': 1}
90254     {'B2': 1}
73781     {'C3': 1}
46499     {'B4': 1}
6011      {'B2': 1}
92462     {'C1': 1}
122138    {'C5': 1}
98381     {'B5': 1}
104878    {'C1': 1}
38265     {'C3': 1}
10016     {'A4': 1}
58367     {'B1': 1}
90431     {'B1': 1}
115727    {'F5': 1}
105752    {'D5': 1}
Name: sub_grade, Length: 46300, dtype: object
1             {'RENT': 1}
6              {'OWN': 1}
7             {'RENT': 1}
10            {'RENT': 1}
12            {'RENT': 1}
18            {'RENT': 1}
21            {'RENT': 1}
23            {'RENT': 1}
24            {'RENT': 1}
41        {'MORTGAGE': 1}
45        {'MORTGAGE': 1}
48            {'RENT': 1}
50            {'RENT': 1}
58            {'RENT': 1}
60            {'RENT': 1}
63            {'RENT': 1}
87        {'MORTGAGE': 1}
89            {'RENT': 1}
93            {'RENT': 1}
102           {'RENT': 1}
108           {'RENT': 1}
111           {'RENT': 1}
118       {'MORTGAGE': 1}
124           {'RENT': 1}
132           {'RENT': 1}
136           {'RENT': 1}
138           {'RENT': 1}
140       {'MORTGAGE': 1}
151            {'OWN': 1}
158           {'RENT': 1}
               ...
55027     {'MORTGAGE': 1}
100438    {'MORTGAGE': 1}
122519         {'OWN': 1}
4161      {'MORTGAGE': 1}
13520         {'RENT': 1}
51558     {'MORTGAGE': 1}
110837        {'RENT': 1}
83788     {'MORTGAGE': 1}
6556      {'MORTGAGE': 1}
106731    {'MORTGAGE': 1}
111533        {'RENT': 1}
115626    {'MORTGAGE': 1}
121848    {'MORTGAGE': 1}
108846    {'MORTGAGE': 1}
111652    {'MORTGAGE': 1}
74640     {'MORTGAGE': 1}
90254         {'RENT': 1}
73781     {'MORTGAGE': 1}
46499     {'MORTGAGE': 1}
6011      {'MORTGAGE': 1}
92462         {'RENT': 1}
122138    {'MORTGAGE': 1}
98381         {'RENT': 1}
104878         {'OWN': 1}
38265     {'MORTGAGE': 1}
10016     {'MORTGAGE': 1}
58367     {'MORTGAGE': 1}
90431         {'RENT': 1}
115727        {'RENT': 1}
105752    {'MORTGAGE': 1}
Name: home_ownership, Length: 46300, dtype: object
1                        {'car': 1}
6             {'small_business': 1}
7                      {'other': 1}
10        {'debt_consolidation': 1}
12                     {'other': 1}
18        {'debt_consolidation': 1}
21            {'major_purchase': 1}
23        {'debt_consolidation': 1}
24                     {'other': 1}
41        {'debt_consolidation': 1}
45        {'debt_consolidation': 1}
48                       {'car': 1}
50        {'debt_consolidation': 1}
58        {'debt_consolidation': 1}
60            {'small_business': 1}
63        {'debt_consolidation': 1}
87               {'credit_card': 1}
89        {'debt_consolidation': 1}
93        {'debt_consolidation': 1}
102              {'credit_card': 1}
108       {'debt_consolidation': 1}
111       {'debt_consolidation': 1}
118         {'home_improvement': 1}
124              {'credit_card': 1}
132       {'debt_consolidation': 1}
136       {'debt_consolidation': 1}
138              {'credit_card': 1}
140       {'debt_consolidation': 1}
151       {'debt_consolidation': 1}
158           {'small_business': 1}
                    ...
55027            {'credit_card': 1}
100438    {'debt_consolidation': 1}
122519    {'debt_consolidation': 1}
4161             {'credit_card': 1}
13520     {'debt_consolidation': 1}
51558            {'credit_card': 1}
110837           {'credit_card': 1}
83788     {'debt_consolidation': 1}
6556      {'debt_consolidation': 1}
106731    {'debt_consolidation': 1}
111533    {'debt_consolidation': 1}
115626           {'credit_card': 1}
121848    {'debt_consolidation': 1}
108846      {'home_improvement': 1}
111652    {'debt_consolidation': 1}
74640     {'debt_consolidation': 1}
90254     {'debt_consolidation': 1}
73781            {'credit_card': 1}
46499     {'debt_consolidation': 1}
6011             {'credit_card': 1}
92462            {'credit_card': 1}
122138    {'debt_consolidation': 1}
98381     {'debt_consolidation': 1}
104878           {'credit_card': 1}
38265            {'credit_card': 1}
10016     {'debt_consolidation': 1}
58367     {'debt_consolidation': 1}
90431     {'debt_consolidation': 1}
115727    {'debt_consolidation': 1}
105752    {'debt_consolidation': 1}
Name: purpose, Length: 46300, dtype: object
1         {' 60 months': 1}
6         {' 60 months': 1}
7         {' 60 months': 1}
10        {' 36 months': 1}
12        {' 36 months': 1}
18        {' 36 months': 1}
21        {' 36 months': 1}
23        {' 36 months': 1}
24        {' 60 months': 1}
41        {' 36 months': 1}
45        {' 36 months': 1}
48        {' 36 months': 1}
50        {' 60 months': 1}
58        {' 60 months': 1}
60        {' 60 months': 1}
63        {' 36 months': 1}
87        {' 60 months': 1}
89        {' 36 months': 1}
93        {' 60 months': 1}
102       {' 36 months': 1}
108       {' 36 months': 1}
111       {' 60 months': 1}
118       {' 36 months': 1}
124       {' 36 months': 1}
132       {' 36 months': 1}
136       {' 36 months': 1}
138       {' 60 months': 1}
140       {' 36 months': 1}
151       {' 36 months': 1}
158       {' 36 months': 1}
                ...
55027     {' 36 months': 1}
100438    {' 36 months': 1}
122519    {' 36 months': 1}
4161      {' 36 months': 1}
13520     {' 60 months': 1}
51558     {' 36 months': 1}
110837    {' 36 months': 1}
83788     {' 36 months': 1}
6556      {' 36 months': 1}
106731    {' 60 months': 1}
111533    {' 36 months': 1}
115626    {' 60 months': 1}
121848    {' 60 months': 1}
108846    {' 60 months': 1}
111652    {' 36 months': 1}
74640     {' 36 months': 1}
90254     {' 36 months': 1}
73781     {' 36 months': 1}
46499     {' 36 months': 1}
6011      {' 36 months': 1}
92462     {' 36 months': 1}
122138    {' 60 months': 1}
98381     {' 36 months': 1}
104878    {' 36 months': 1}
38265     {' 60 months': 1}
10016     {' 36 months': 1}
58367     {' 36 months': 1}
90431     {' 36 months': 1}
115727    {' 60 months': 1}
105752    {' 60 months': 1}
Name: term, Length: 46300, dtype: object

In [38]:
loans_data.dtypes

grade                     object
sub_grade                 object
short_emp                  int64
emp_length_num             int64
home_ownership            object
dti                      float64
purpose                   object
term                      object
last_delinq_none           int64
last_major_derog_none      int64
revol_util               float64
total_rec_late_fee       float64
safe_loans                 int64
dtype: object

In [39]:
loans_data

,grade,sub_grade,short_emp,emp_length_num,home_ownership,dti,purpose,term,last_delinq_none,last_major_derog_none,revol_util,total_rec_late_fee,safe_loans
1,C,C4,1,1,RENT,1.00,car,60 months,1,1,9.4,0.000,-1
6,F,F2,0,5,OWN,5.55,small_business,60 months,1,1,32.6,0.000,-1
7,B,B5,1,1,RENT,18.08,other,60 months,1,1,36.5,0.000,-1
10,C,C1,1,1,RENT,10.08,debt_consolidation,36 months,1,1,91.7,0.000,-1
12,B,B2,0,4,RENT,7.06,other,36 months,1,1,55.5,0.000,-1
18,B,B4,0,11,RENT,13.22,debt_consolidation,36 months,1,1,90.3,0.000,-1
21,B,B3,0,2,RENT,2.40,major_purchase,36 months,1,1,29.7,0.000,-1
23,C,C2,0,10,RENT,15.22,debt_consolidation,36 months,1,1,57.6,0.000,-1
24,D,D2,0,3,RENT,13.97,other,60 months,0,1,59.5,0.000,-1
41,A,A5,0,11,MORTGAGE,16.33,debt_consolidation,36 months,1,1,62.1,0.000,-1
45,B,B1,0,9,MORTGAGE,9.12,debt_consolidation,36 months,1,1,63.7,24.170,-1
48,C,C5,0,5,RENT,20.88,car,36 months,1,1,90.8,0.000,-1
50,E,E4,0,8,RENT,21.58,debt_consolidation,60 months,1,1,97.6,0.000,-1
58,D,D3,0,6,RENT,13.16,debt_consolidation,60 months,1,1,70.8,0.000,-1
60,F,F2,0,5,RENT,12.48,small_business,60 months,1,1,73.9,0.000,-1
63,D,D2,0,6,RENT,20.22,debt_consolidation,36 months,0,1,67.5,0.000,-1
87,D,D3,0,8,MORTGAGE,21.31,credit_card,60 months,1,1,86.1,0.000,-1
89,B,B1,0,3,RENT,20.64,debt_consolidation,36 months,1,1,47.7,0.000,-1
93,D,D2,0,11,RENT,23.18,debt_consolidation,60 months,1,1,79.7,0.000,-1
102,D,D5,0,2,RENT,24.14,credit_card,36 months,0,1,96.3,36.247,-1
108,B,B2,0,5,RENT,22.80,debt_consolidation,36 months,0,1,54.2,0.000,-1
111,E,E4,0,11,RENT,20.70,debt_consolidation,60 months,1,1,87.6,0.000,-1
118,C,C5,0,9,MORTGAGE,9.17,home_improvement,36 months,1,1,71.2,0.000,-1
124,A,A2,0,11,RENT,29.85,credit_card,36 months,1,1,62.3,0.000,-1
132,B,B1,0,3,RENT,7.83,debt_consolidation,36 months,1,1,65.4,0.000,-1
136,B,B3,0,9,RENT,22.08,debt_consolidation,36 months,1,1,29.3,0.000,-1
138,C,C1,0,11,RENT,21.89,credit_card,60 months,1,1,65.8,0.000,-1
140,C,C3,0,2,MORTGAGE,12.24,debt_consolidation,36 months,0,1,90.8,0.000,-1
151,A,A3,1,0,OWN,16.30,debt_consolidation,36 months,1,1,42.2,0.000,-1
158,C,C1,0,6,RENT,6.92,small_business,36 months,0,1,69.5,0.000,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
55027,B,B5,0,7,MORTGAGE,7.28,credit_card,36 months,0,1,53.5,0.000,1
100438,C,C1,0,6,MORTGAGE,15.37,debt_consolidation,36 months,1,1,63.8,0.000,1
122519,D,D4,1,0,OWN,29.98,debt_consolidation,36 months,1,1,92.7,0.000,1
4161,B,B1,0,5,MORTGAGE,17.33,credit_card,36 months,1,1,77.1,0.000,1
13520,C,C5,0,4,RENT,15.77,debt_consolidation,60 months,1,1,27.5,0.000,1
51558,C,C4,0,11,MORTGAGE,20.88,credit_card,36 months,1,1,78.8,0.000,1
110837,A,A2,0,3,RENT,3.00,credit_card,36 months,1,1,1.2,0.000,1
83788,C,C2,1,0,MORTGAGE,22.27,debt_consolidation,36 months,1,1,71.4,0.000,1
6556,D,D1,0,5,MORTGAGE,5.84,debt_consolidation,36 months,1,1,71.2,0.000,1
106731,A,A5,0,3,MORTGAGE,17.59,debt_consolidation,60 months,1,1,9.0,0.000,1
111533,B,B2,0,8,RENT,16.09,debt_consolidation,36 months,0,0,60.0,0.000,1
115626,C,C5,1,1,MORTGAGE,19.01,credit_card,60 months,1,1,70.7,0.000,1
121848,C,C2,0,11,MORTGAGE,18.37,debt_consolidation,60 months,0,1,28.2,0.000,1
108846,C,C3,0,10,MORTGAGE,13.12,home_improvement,60 months,1,1,40.0,0.000,1
111652,C,C5,0,11,MORTGAGE,20.90,debt_consolidation,36 months,1,1,94.0,0.000,1
74640,A,A1,0,11,MORTGAGE,10.15,debt_consolidation,36 months,1,1,67.2,0.000,1
90254,B,B2,0,4,RENT,14.21,debt_consolidation,36 months,0,1,6.3,0.000,1
73781,C,C3,0,7,MORTGAGE,22.36,credit_card,36 months,0,1,72.4,0.000,1
46499,B,B4,0,11,MORTGAGE,12.02,debt_consolidation,36 months,0,0,36.0,0.000,1
6011,B,B2,0,11,MORTGAGE,10.22,credit_card,36 months,0,1,49.1,0.000,1
92462,C,C1,0,4,RENT,26.35,credit_card,36 months,1,1,76.1,0.000,1
122138,C,C5,0,11,MORTGAGE,4.41,debt_consolidation,60 months,1,0,36.0,0.000,1
98381,B,B5,1,1,RENT,8.37,debt_consolidation,36 months,1,1,71.3,0.000,1
104878,C,C1,0,8,OWN,4.22,credit_card,36 months,1,1,81.6,0.000,1
38265,C,C3,0,7,MORTGAGE,24.32,credit_card,60 months,1,1,50.1,0.000,1
10016,A,A4,0,4,MORTGAGE,21.36,debt_consolidation,36 months,1,1,16.5,0.000,1
58367,B,B1,0,8,MORTGAGE,16.29,debt_consolidation,36 months,1,1,41.0,0.000,1
90431,B,B1,0,9,RENT,14.40,debt_consolidation,36 months,1,1,36.3,0.000,1
115727,F,F5,0,4,RENT,29.45,debt_consolidation,60 months,0,0,36.2,0.000,1
105752,D,D5,0,2,MORTGAGE,11.65,debt_consolidation,60 months,0,1,83.0,0.000,1