In [29]:
import pandas as pd
import numpy as np
%matplotlib notebook
import matplotlib.pyplot as plt

song = pd.read_csv('song_data.csv')

song.head()

,user_id,song_id,listen_count,title,artist,song
0,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOAKIMP12A8C130995,1,The Cove,Jack Johnson,The Cove - Jack Johnson
1,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBBMDR12A8C13253B,2,Entre Dos Aguas,Paco De Lucia,Entre Dos Aguas - Paco De Lucia
2,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBXHDL12A81C204C0,1,Stronger,Kanye West,Stronger - Kanye West
3,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SOBYHAJ12A6701BF1D,1,Constellations,Jack Johnson,Constellations - Jack Johnson
4,b80344d063b5ccb3212f76538f3d9e43d87dca9e,SODACBL12A8C13C273,1,Learn To Fly,Foo Fighters,Learn To Fly - Foo Fighters

# Question 1

Which of the artists below have had the most unique users listening to their songs?

In [30]:
artist_user = song[['user_id', 'artist']].drop_duplicates()
artist_user.head()

                                    user_id               artist
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e         Jack Johnson
1  b80344d063b5ccb3212f76538f3d9e43d87dca9e        Paco De Lucia
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e           Kanye West
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e         Foo Fighters
5  b80344d063b5ccb3212f76538f3d9e43d87dca9e  Héroes del Silencio

In [31]:
artist_user_sorted = artist_user.groupby('artist').count().sort_values(by = ['user_id'], ascending = False)
artist_user_sorted.head()

                        user_id
artist
Kings Of Leon              7373
Coldplay                   6340
Harmonia                   5970
Björk                      5834
Florence + The Machine     5615

In [32]:
artist_user_sorted.reset_index(inplace = True)

In [33]:
print("Number of unique users listening to Kanye West: ", artist_user_sorted[artist_user_sorted['artist'] == 'Kanye West']['user_id'].tolist()[0])

print("Number of unique users listening to Foo Fighters: ", artist_user_sorted[artist_user_sorted['artist'] == 'Foo Fighters']['user_id'].tolist()[0])

print("Number of unique users listening to Taylor Swift: ", artist_user_sorted[artist_user_sorted['artist'] == 'Taylor Swift']['user_id'].tolist()[0])

print("Number of unique users listening to Lady GaGa: ", artist_user_sorted[artist_user_sorted['artist'] == 'Lady GaGa']['user_id'].tolist()[0])

Number of unique users listening to Kanye West:  2522
Number of unique users listening to Foo Fighters:  2055
Number of unique users listening to Taylor Swift:  3246
Number of unique users listening to Lady GaGa:  2928

# Question 2
Which of the artists below is the most popular artist, the one with highest total listen_count, in the data set?

In [34]:
artist_listencount = song[['artist', 'listen_count']]
artist_listencount.head()

          artist  listen_count
0   Jack Johnson             1
1  Paco De Lucia             2
2     Kanye West             1
3   Jack Johnson             1
4   Foo Fighters             1

In [35]:
artist_listencount_sum = artist_listencount.groupby(by = ['artist']).sum().sort_values(by = ['listen_count'], ascending = False)
artist_listencount_sum.head()

                        listen_count
artist
Kings Of Leon                  43218
Dwight Yoakam                  40619
Björk                          38889
Coldplay                       35362
Florence + The Machine         33387

In [36]:
artist_listencount_sum.reset_index(inplace = True)

In [37]:
print("Number of times listening to Taylor Swift: ", artist_listencount_sum[artist_listencount_sum['artist'] == 'Taylor Swift']['listen_count'].tolist()[0])

print("Number of times listening to Kings Of Leon: ", artist_listencount_sum[artist_listencount_sum['artist'] == 'Kings Of Leon']['listen_count'].tolist()[0])

print("Number of times listening to Coldplay: ", artist_listencount_sum[artist_listencount_sum['artist'] == 'Coldplay']['listen_count'].tolist()[0])

print("Number of times listening to Lady GaGa: ", artist_listencount_sum[artist_listencount_sum['artist'] == 'Lady GaGa']['listen_count'].tolist()[0])

Number of times listening to Taylor Swift:  19376
Number of times listening to Kings Of Leon:  43218
Number of times listening to Coldplay:  35362
Number of times listening to Lady GaGa:  12224

# Question 3
Which of the artists below is the least popular artist, the one with smallest total listen_count, in the data set?

In [38]:
print("Number of times listening to William Tabbert: ", artist_listencount_sum[artist_listencount_sum['artist'] == 'William Tabbert']['listen_count'].tolist()[0])

print("Number of times listening to Velvet Underground & Nico: ", artist_listencount_sum[artist_listencount_sum['artist'] == 'Velvet Underground & Nico']['listen_count'].tolist()[0])

print("Number of times listening to Kanye West: ", artist_listencount_sum[artist_listencount_sum['artist'] == 'Kanye West']['listen_count'].tolist()[0])

print("Number of times listening to The Cool Kids: ", artist_listencount_sum[artist_listencount_sum['artist'] == 'The Cool Kids']['listen_count'].tolist()[0])

Number of times listening to William Tabbert:  14
Number of times listening to Velvet Underground & Nico:  80
Number of times listening to Kanye West:  9992
Number of times listening to The Cool Kids:  73